html,
body {
  height: 100%;
}
body {
  background-color: #f5f5f5;
  color: $black;
  // font-family: "Nanum Gothic", -apple-system, BlinkMacSystemFont, "Segoe UI",
  //   Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
}

main {
  width: 100%;
  max-width: 1200px;
  // margin: 0 auto;
  margin: 100px auto 0 auto;
  min-height: 70vh;
}

//mobile(~768px)
@media (max-width: 768px) {
  main {
    margin: 200px auto 0 auto;
  }
}

button.delete {
  width: 320px;
  box-shadow: inset 0px 1px 9px 0px #cf866c;
  background-color: #bc3315;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Times New Roman;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 17px;
  text-decoration: none;
  margin-top: 20px;
  &:hover {
    opacity: 0.75;
    background-color: #bc3315;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}

button,
input[type="submit"] {
  max-width: 320px;
  cursor: pointer;
}
