extends layouts/main

block content 
    .form-container
        .page_title 
                span Change Password
        .white_container
            form.whole_form(action=`/users${routes.changePassword}`, method="post")
                span 현재 비밀번호
                input.whole_input.shortInput(type="password", name="oldPassword")
                span 새 비밀번호
                input.whole_input.shortInput(type="password", name="newPassword")
                span 비밀번호 확인
                input.whole_input.shortInput(type="password", name="newPassword2")
                input.whole_submitBtn(type="submit", value="비밀번호 변경")