extends layouts/main

block content 
    .form-container 
        form.editProfile_form(action=`/users${routes.changePassword}`, method="post")
            input.editProfile_name(type="password", name="oldPassword", placeholder="현재 비밀번호")
            input.editProfile_email(type="password", name="newPassword", placeholder="새 비밀번호")
            input.editProfile_name(type="password", name="newPassword2",placeholder="비밀번호 확인")
            input.video_uploadBtn(type="submit", value="비밀번호 변경")