extends layouts/main

block content 
    .form-container 
        form.whole_form(action=routes.login, method="post")
            input.whole_input(type="email", name="email", placeholder="Email", required=true)
            input.whole_input(type="password", name="password", placeholder="Password", required=true)
            input.whole_submitBtn(type="submit", value="Log In")
        include partials/socialLogin