extends layouts/main

block content
    .form-container
        .record-container#jsRecordContainer
            video#jsVideoPreview
            button.recordBtn#jsRecordBtn Start Recording 
        form#jsUploadForm.videoUploadForm(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            div.fileUpload
                label(for="file") Video File  
                input(type="file", id="file", name="videoFile", required=true, accept="video/*")
                div.fileicon
                    i.fas.fa-paperclip
            input.video_upload_title(type="text",name="title", placeholder="제목을 입력하세요" ,required=true)
            textarea.video_upload_description(name="description", placeholder="여기에 영상의 설명을 입력해주세요" ,required=true)
            input.whole_submitBtn(type="submit", value="비디오 업로드")
        .loadingImage
            img(src="https://mytube1213.s3.ap-northeast-2.amazonaws.com/avatar/091ed0ceebc72cbf7465e650f9dc14b2")
            div 업로드 중입니다. 잠시만 기다려주세요.