//tablet(768~1024px)
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
    z-index: 1;

    .header__wrapper {
      padding: 5px 30px;
      width: 100%;
      margin: 0 auto;
      max-width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .header__column {
        width: 100%;
        i {
          color: $red;
          font-size: 30px;
        }
        &:first-child {
          flex-shrink: 2;
          a {
            display: flex;
          }
          span {
            color: black;
            font-weight: 700;
            align-self: center;
            margin-left: 5px;
          }
        }
        &:nth-child(2) {
          form {
            display: flex;
            flex-direction: row;
          }
          input {
            width: 100%;
            padding: 7px 10px;
            border: 0.5px solid #e0e0e0;
            border-radius: 2px;

            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
          button {
            background-color: white;
            border: none;
            i {
              font-size: 20px;
              color: grey;
            }
          }
        }
        &:last-child {
          flex-shrink: 2;
          display: flex;
          justify-content: flex-end;
          ul {
            display: flex;
            align-items: center;
            color: black;
            font-weight: 600;
            text-transform: uppercase;

            li:not(:last-child) {
              margin-right: 15px;
            }
          }

          .user-profile-detail {
            display: none;
            flex-direction: column;
            background-color: white;
            border: 0.5px solid #e0e0e0;
            border-radius: 10px;
            border-top: none;
            position: absolute;
            top: 0px;
            right: 80px;
            width: 100px;
            height: 120px;
            justify-content: center;
            cursor: pointer;
            a {
              padding: 10px;
              text-transform: uppercase;
              text-align: center;
              font-weight: 500;
              &:hover {
                color: #90caf9;
              }
            }
          }
          .user-profile {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            cursor: pointer;

            .u-avatar-default {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }
}

//mobile(~768px)
@media (max-width: 768px) {
  .header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
    z-index: 1;

    .header__wrapper {
      padding: 15px 30px;
      width: 100%;
      margin: 0 auto;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .header__column {
        i {
          color: $red;
          font-size: 2.813em;
        }
        &:first-child {
          margin-bottom: 10px;
          a {
            display: flex;
            justify-content: center;
          }
          span {
            color: black;
            font-weight: 700;
            align-self: center;
            margin-left: 5px;
            font-size: 1.5em;
          }
        }
        &:nth-child(2) {
          width: 100%;
          justify-self: center;
          form {
            display: flex;
            flex-direction: row;
          }
          input {
            padding: 7px 10px;
            border: 0.5px solid #e0e0e0;
            border-radius: 2px;
            width: 100%;

            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
          button {
            background-color: white;
            width: 10%;
            border: none;
            i {
              font-size: 20px;
              color: grey;
            }
          }
        }
        &:last-child {
          width: 100%;
          order: -1;
          ul {
            display: flex;
            align-items: center;
            color: black;
            font-weight: 600;
            text-transform: uppercase;

            li:not(:last-child) {
              margin-right: 15px;
            }
          }

          .user-profile-detail {
            display: none;
            flex-direction: column;
            background-color: white;
            border: 0.5px solid #e0e0e0;
            border-radius: 10px;
            border-top: none;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100px;
            height: 120px;
            justify-content: center;
            cursor: pointer;
            a {
              padding: 10px;
              text-transform: uppercase;
              text-align: center;
              font-weight: 500;
              &:hover {
                color: #90caf9;
              }
            }
          }
          .user-profile {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            cursor: pointer;

            .u-avatar-default {
              height: 30px;
              width: 30px;
            }
          }
        }
      }
    }
  }
}

//pc (1025px 이상)
@media (min-width: 1025px) {
  .header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 50px;
    z-index: 1;

    .header__wrapper {
      padding: 5px 0px;
      width: 100%;
      margin: 0 auto;
      max-width: 1200px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .header__column {
        width: 100%;
        i {
          color: $red;
          font-size: 30px;
        }
        &:first-child {
          a {
            display: flex;
          }
          span {
            color: black;
            font-weight: 700;
            align-self: center;
            margin-left: 5px;
          }
        }
        &:nth-child(2) {
          form {
            display: flex;
            flex-direction: row;
          }
          input {
            width: 100%;
            padding: 7px 10px;
            border: 0.5px solid #e0e0e0;
            border-radius: 2px;

            &::placeholder {
              font-weight: 300;
              color: rgba(0, 0, 0, 0.7);
            }
          }
          button {
            background-color: white;
            border: none;
            i {
              font-size: 20px;
              color: grey;
            }
          }
        }
        &:last-child {
          display: flex;
          justify-content: flex-end;
          ul {
            display: flex;
            align-items: center;
            color: black;
            font-weight: 600;
            text-transform: uppercase;

            li:not(:last-child) {
              margin-right: 15px;
            }
          }

          .user-profile-detail {
            display: none;
            flex-direction: column;
            background-color: white;
            border: 0.5px solid #e0e0e0;
            border-radius: 10px;
            border-top: none;
            position: absolute;
            top: 0px;
            right: 80px;
            width: 100px;
            height: 120px;
            justify-content: center;
            cursor: pointer;
            a {
              padding: 10px;
              text-transform: uppercase;
              text-align: center;
              font-weight: 500;
              &:hover {
                color: #90caf9;
              }
            }
          }
          .user-profile {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            cursor: pointer;

            i {
              color: black;
            }
            .u-avatar-default {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }
}
