.videoPlayer {
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    max-width: 100%;
  }
}
.videoPlayer__controls {
  opacity: 1;
  transition: opacity 0.4s linear;
  color: white;
  font-size: 16px;
  position: absolute;
  z-index: 9;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .videoPlayer__column {
    &:first-child {
      margin-left: 10px;
      margin-right: 20px;
    }
    &:nth-child(2) {
      width: 100%;
      display: flex;
      .videoPlayer__volume {
        display: none;
      }
    }
    &:last-child {
      margin-left: 10px;
      margin-right: 10px;
    }
    .videoPlayer__volumeControl {
      display: flex;
      align-items: center;
      &:hover {
        .videoPlayer__volume {
          display: flex;
        }
      }
      span {
        margin-right: 10px;
      }
      .videoPlayer__volume {
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 768px) {
  .videoPlayer__volume {
    width: 60px;
  }
}
