.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github 
            span.social-login__text|깃허브 로그인 →
    
    button.social-login--kakao
        a(href=routes.kakao)
            span
                i.fas.fa-comments
            span.social-login__text|카카오 로그인 →