.loadingImage {
  //   width: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  img {
    width: 30px;
    margin-bottom: 10px;
  }
}
.recordBtn {
  width: 100%;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #2196f3;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;

  &:hover {
    opacity: 0.75;
  }
  &:active {
    position: relative;
    top: 1px;
  }

  &::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
  }
}

.videoUploadForm {
  width: 100%;
}
