.user-profile {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .user-profile__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 18px;
      .profile__username {
        font-size: 18px;
        margin-top: 15px;
      }
      .profile__useremail{
          font-size: 15px;
          margin-top: 5px;
      }
    }
    .user-profile__btns {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      a:not(:last-child) {
        margin-right: 20px;
      }
    }
    .uploaded-videos{
        display: grid;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        grid-gap: 30px;
        margin-top: 30px;
    }
  }