include ../mixins/message
doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css", integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu", crossorigin="anonymous")
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href = "/static/styles.css") 
    body
        include ../partials/header
        if messages.error 
            +message({
                type:'error',
                text:messages.error
            })
        else if messages.info   
              +message({
                type:'info',
                text:messages.info
            })
        else if messages.success 
             +message({
                type:'success',
                text:messages.success
            })
        main
            block content

        include ../partials/footer
        script(src="/static/main.js")